body {
  background-image: url(./img/دماوند-3.jpg);

}

main{
  background-color: blueviolet;
   border-radius: 10px;
padding: 20px;

}

.wrapper{
  border-left: 3px solid red;
  padding: 10px;
  
  
}